@import "_variables";

body {
  background-color: $bg;
  display: flex;
  flex-direction: column;

  header {
    background-color: $bg2;
    width: 260px;
    height: 100vh;
    padding: 110px 90px 80px 70px;
    position: fixed;
    z-index: 3;
  }
  nav {
    z-index: 2;
    background-color: white;
    padding-left: 420px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    opacity: 0.05;
    div {
      margin: 60px 80px;
    }
  }
}
